*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

img {
  width: 100%;
  height: auto;
}

.carousel {
  width: 1056px;
  height: 594px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: repeat(2, auto);
}

.carousel img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.arrow {
  align-self: center;
  width: 44px;
  height: 44px;
  font-size: 2.4rem;
  font-weight: 1000;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.75);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}

.arrow:nth-of-type(1) {
  grid-row: 1 / -1;
  grid-column: 1;
}

.arrow:nth-of-type(2) {
  grid-row: 1 / -1;
  grid-column: 3;
  justify-self: end;
}

.dots-cont {
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.dots {
  margin: 8px;
  padding: 5px;
  background-color: rgb(0, 0, 0, 0.75);
  border-radius: 17px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.dots span {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}

.dots span.active {
  background-color: #fff;
}
